.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output

# ignore test coverage reports
/coverage

# ignore dev files
/project_files
.github/workflows/pqh-updater/database
.github/workflows/pqh-updater/setup