.translate-50 {
    transform: translate(-50%, -50%);
}
#miyako404 {
    background: url("../../../public/images/webpage/miyako_death.png");
    animation: death404 1000ms steps(18) forwards;
    display: block;
    width: 400px;
    height: 400px;
}
@keyframes death404 {
    from {background-position-y: 0;}
    to {background-position-y: -7200px;}
}